@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* Variables Starts */
:root {
  --primary-clr: #19c8fa;
  --transparent-clr: rgb(0 102 153 / 70%);
  --white-clr: #fff;
}
/* Variables Ends */

/* Global Rules Starts */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Global Rules Ends */

/* Components Starts */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Components Ends */

/* Header Starts */
.main-header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.main-header .container {
  position: relative;
  min-height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .container::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #726f71;
}
.main-header .logo img {
  height: 45px;
  -webkit-filter: contrast(0.4);
  -moz-filter: contrast(0.4);
  -o-filter: contrast(0.4);
  -ms-filter: contrast(0.4);
  filter: contrast(0.4);
}
.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toggle-menu {
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: var(--white-clr);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.nav-links {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    flex-direction: column;
    display: none;
  }
  .toggle-menu:hover + .nav-links {
    display: flex;
  }
}
.nav-links li a {
  display: block;
  padding: 30px 15px;
  font-size: 15px;
  color: var(--white-clr);
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .nav-links li a {
    padding: 15px;
  }
}
.nav-links li a.active,
.nav-links li a:hover {
  border-bottom: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}
.search-form {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 15px;
  border-left: 1px solid #726f71;
  cursor: pointer;
}
.search-form i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  color: var(--white-clr);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Header Ends */

/* Landing Starts */
.landing {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../imgs/landing.jpg) center center no-repeat;
  background-size: cover;
}
.landing-text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  background-color: var(--transparent-clr);
  color: var(--white-clr);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .landing-text {
    width: 100%;
    padding: 30px;
  }
}
.landing-text .text-content {
  max-width: 500px;
}
@media screen and (max-width: 767px) {
  .landing-text .text-content {
    max-width: 100%;
  }
}
.landing-text .text-content h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.landing-text .text-content p {
  font-size: 14px;
  line-height: 1.7;
}
.change-bg {
  position: absolute;
  top: 50%;
  color: var(--white-clr);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .change-bg {
    display: none;
  }
}
.change-bg:first-of-type {
  left: 20px;
}
.change-bg:last-of-type {
  right: 20px;
}
.bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.bullets li {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-clr);
  border-radius: 50%;
  cursor: pointer;
}
.bullets li.active {
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
}
/* Landing Ends */
